.form {
  font-family: $secondary-font;
}

.form__label--checkbox,
.form__label--personal,
.form__label--radio,
.form__textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__label--radio {
  color: $darkgrey;
}

.form__label--checkbox {
  color: $black;
}

.form__legend {
  font-size: 24px;
  font-style: 400;
  line-height: 26px;
  color: $black;
}

.form__button {
  @include button-style;
  font-size: 16px;
  line-height: 20px;
}

.form__note {
  font-family: $main-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $black;
}
