.offers {
  background-color: $bg-grey-main;
  font-weight: $font-weight-primary;
}

.offers__title {
  font-family: $primary-font;
  font-size: $font-size-medium;
  color: $color-black;
  line-height: $line-height-big;
  text-transform: uppercase;
}

.offers__text {
  font-family: $secondary-font;
  color: $text-color-main;
  font-size: $font-size-main;
  line-height: $line-height-basic;
}
