.page-header {
  padding: 0;
  margin: 0;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
