html {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  color: $main-text-color;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
