//Font

$secondary-font: "Oswald", "Arial", sans-serif;

//Colors

$bg-color-green: #68b738;
$bg-grey-main: #f2f2f2;
$bg-grey-secondary: #eaeaea;
$main-text-color: #444444;
$white: #ffffff;
$black: #000000;
