//Fonts

$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;
$font-weight-primary: 400;
$font-weight-secondary: 500;
$line-height-basic: 18px;
$line-height-big: 36px;
$font-size-main: 14px;
$font-size-medium: 24px;
$font-size-big: 36px;


//Colors

$color-white: white;
$color-black: black;
$bg-color-green: #68b738;
$bg-grey-main: #f2f2f2;
$bg-grey-secondary: #eaeaea;
$text-color-main: #444444;
